.App {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    background-color: rgb(236, 100, 9);
  }
  #submit {
    background-color: rgb(36, 136, 202);
  }
  
  .jumbotron {
    margin-top: 1px;
    background-color: snow;
  }
  .card {
    margin-left: 0px;
    margin-right: 2%;
    background-color: orchid;
  }
  
  hr {
    width: 40px;
  }

  .login{
    margin: 0 auto;
    width: 40%; /* Valor da Largura */
  }
  .linhatitulologin{
    Font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    width: 70%;
  }
  .campoescrita{
    width: 40%;

  }
  .card-deck{
    margin:0!important; 
}