.TipoComponente{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #5babc5;
    color:white;
    background-position: 0px;
    text-align: center;
    Font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    border-radius: 5px;
}

.Componente{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: 0px;
    text-align: center;
    Font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
}
.rodapé {
    position:absolute;
    bottom:0;
    left:0;
    background: coral;
}

.card-list{
    max-height: 100px;
    min-height: 100px;
    overflow-y: auto;
}

.alertas{
    position: fixed!important;
    box-shadow: 2px 2px 14px gray;
    z-index: 1;
    left: 50%;
    top:10px;
    transform: translate(-50%);
    width: 50em;
}


/*O Bootstrap às vezes gera em seus componentes margens que acaba ultrapassando o 
limite lateral da página*/
/*O componente .card-deck estava com esse problema. Pra consertar você deve retirar todas as margens
do componente com o comando margin:0!important;*/
.card-deck{
    margin:0!important; 
    padding-bottom: 10em;
}