.CampoPesquisa{
   max-width: 400px;
   height: 40px;
   margin:4px;
   position:relative;
   top:30%;
   text-align: center;
   left:37%;
   
   border-radius: 5px;
   
}

.botaopesquisar{
   max-width: 400px;
   height: 40px;
   background: #5babc5;

}